@font-face {
	font-family: 'TT Lakes Medium';
	src: url(sources/TTLakes/TTLakes-Medium.ttf);
}
@font-face {
	font-family: 'TT Lakes Bold';
	src: url(sources/TTLakes/TTLakes-Bold.ttf);
}

body {
	margin: 0;
	padding: 0;
}

.menu {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 320px;
	min-height: 100vh;
	padding: 18px 24px;
	position: absolute;
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
		-2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.header {
	width: 100%;
	margin: 0 0 50px 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.header__group--1,
.header__group--2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	position: relative;
}

.header__button {
	border: none;
	background: none;
	padding: 0;
	width: 40px;
	height: 40px;
	transition-property: all;
	transition-duration: 0.5s;
}

.header__button:hover {
	opacity: 50%;
}

.main__list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main__list li {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	position: relative;
}

.list__link {
	white-space: nowrap;
	margin: 0;
	padding: 8px;
	text-decoration: none;
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
	box-sizing: border-box;
}

.list__link:not(.active):hover,
.language span:not(.active):hover {
	opacity: 30%;
}

.main__list .active::before {
	content: '';
	position: absolute;
	left: -28px;
	top: -10px;
	height: 40px;
	width: 8px;
	background-color: #41f6d7;
	border-radius: 4px;
}

.footer {
	display: block;
	margin-top: auto;
	padding: 0;
	background-color: #fff;
	box-sizing: border-box;
}

.footer__group {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: relative;
	margin-bottom: 16px;
}

.footer__button {
	border: none;
	background: none;
	padding: 0;
	width: 40px;
	height: 40px;
}

.footer__button:hover {
	opacity: 50%;
}

.email {
	display: block;
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
	text-decoration: none;
	margin-bottom: 12px;
}

.tel {
	display: block;
	color: #1b1c21;

	font-family: 'TT Lakes Bold';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px; /* 133.333% */
	letter-spacing: -0.6px;
	text-decoration: none;
}

.language {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	margin-top: 40px;
}

.language span {
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
}

.language .active,
.active {
	color: #7e7e82;
}
